
.wrapper{
    display: flex;
    
}

.wrapper .city {
   width: 50%;
    

}

.wrapper .desc{
    width: 50%;
}

.subwrapper{
    background-color: grey;
    display: flex;
    align-items: center;

}

.subwrapper .attr{
    text-align: center;
}








/* 
background:  url(images/download.png) no-repeat right bottom; */